<div class="container tweets">
  <% if @tweets %>
    <%= erb :display_partial %>
  <% elsif @user %>
    <%= erb :render, :layout => false %>
  <% else %>
    TweetTweet...TweetTweet...TweetTweet...
  <% end %>
</div>

<script type="text/javascript">
$('#username_form').on('submit', function(event){
  event.preventDefault();
  $.get("/refresh/" + $("#username").val(), function(e){
    $('.container').text('');
    $('.tweets').html(e);
  }); 
});
</script>
